.content {
  display: flex;
  flex-wrap: wrap; /* Позволяет кнопкам переноситься на новую строку, если места не хватает */
  gap: 10px; /* Отступ между кнопками */
  justify-content: center; /* Центрирует кнопки горизонтально */
  align-items: center; /* Выравнивает кнопки и описание по вертикали */
  text-align: center; /* Выравнивает текст в центре */
}


.p {
  font-weight: bold;
  color: #333;
  margin-top: 5px; /* Отступ между текстом и кнопками */
}

